<!DOCTYPE html>
<html>
<head>
<title>Welcome to StudyDrop!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to StudyDrop!</h1>

<form action="{{ url_for('biblioteca') }}" method="get">
    <button type="submit">Go to the LIBRARY</button>
</form>



<p> <a href="{{ TELEGRAM_CHANNEL_LINK }}"> Join </a> to the Telegram Channel for FREE daily CS notes!</p>
<img src= "{{ url_for('static', filename='images/T_group_link.png') }}">

<p><em>Thank you for using Passive Teacher.</em></p>
</body>
</html>